{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brb.css') }}" />
{% endblock %}
{% block content %}
    {% if 'logged_in' in session and session['logged_in'] %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link hello">Hello, {{ session.username }}!</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li></ul>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

    <ul id="tabs" class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab tab-preprod active" id="tab-preprod" data-toggle="tab" href="#preprod" role="tab" aria-controls="preprod" aria-selected="true">Pre-Prod</a>
      </li>
      <li id="tab-tools" class="nav-item">
        <a class="nav-link tab tab-tools" id="tab-tools" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Tools</a>
      </li class="nav-item">
      <li id="tab-production" class="nav-item">
        <a class="nav-link tab tab-production" id="tab-production" data-toggle="tab" href="#production" role="tab" aria-controls="production" aria-selected="false">Production</a>
      </li>
    </ul>
    <div id="tab-content" class="tab-content" >
        <!-- tab: pre-prod -->
        <div class="tab-pane active" id="preprod" role="tabpanel" aria-labelledby="preprod">
          {% include 'panel-pre-prod.incl.jinja' %}
        </div>   <!-- tab: pre-prod -->
        <!-- tab: tools -->
        <div class="tab-pane" id="tools" role="tabpanel" aria-labelledby="tools">
          {% include 'panel-tools.incl.jinja' %}
        </div> <!-- tab: tools -->
        <!-- tab: production  -->
        <div class="tab-pane" id="production" role="tabpanel" aria-labelledby="production">
          {% include 'panel-prod.incl.jinja' %}
          </div>  <!-- tab: production -->
    </div> <!-- deployment-tab-content -->

    <pre id="sse-out">
{% include 'sse.incl.jinja' %}
    </pre>

    <div id="queue-panel" class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Task Queue</h3></div>
      <div class="panel-body">
        <table id="queue" class="table">
          <thead>
            <tr><td>User</td><td>Requested</td><td>Subdomain</td><td>Site</td><td>Task</td><td>DB Backup?</td><td>Cancel</td></tr>
          </thead>
          <tbody>
            {% include 'queue.incl.jinja' %}
          </tbody>
        </table>
      </div>
    </div>

    <div id="prod-output-panel" class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Output</h3></div>
      <div class="panel-body">
        <pre id="production-output"> </pre>
      </div>
    </div>

{% endblock %}
{% block scripts %}
  {{ super() }}
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/sse.js') }}"></script>
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/brb.js') }}"></script>
{% endblock %}

