{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brb.css') }}" />
{% endblock %}
{% block content %}
    {% if 'logged_in' in session and session['logged_in'] %}
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="navbar-nav">
            <li class="nav-item"><a id="user" href="#" class="nav-link hello" data-username="{{ session['user']['username'] }}">Hello, {{ session['user']['realname'] }}!</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li></ul>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

    <ul id="tabs" class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link tab tab-preprod active" id="tab-preprod" data-toggle="tab" href="#preprod" role="tab" aria-controls="preprod" aria-selected="true">Pre-Production</a>
      </li>
      <li id="tab-tools" class="nav-item">
        <a class="nav-link tab tab-tools" id="tab-tools" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Tools</a>
      </li class="nav-item">
      <li id="tab-production" class="nav-item">
        <a class="nav-link tab tab-production" id="tab-production" data-toggle="tab" href="#production" role="tab" aria-controls="production" aria-selected="false">Production</a>
      </li>
    </ul>
    <div id="tab-content" class="tab-content" >
        <!-- tab: pre-prod -->
        <div class="tab-pane active" id="preprod" role="tabpanel" aria-labelledby="preprod">
          {% include 'panel-pre-prod.incl.jinja' %}
        </div>   <!-- tab: pre-prod -->
        <!-- tab: tools -->
        <div class="tab-pane" id="tools" role="tabpanel" aria-labelledby="tools">
          {% include 'panel-tools.incl.jinja' %}
        </div> <!-- tab: tools -->
        <!-- tab: production  -->
        <div class="tab-pane" id="production" role="tabpanel" aria-labelledby="production">
          {% include 'panel-prod.incl.jinja' %}
          </div>  <!-- tab: production -->
    </div> <!-- deployment-tab-content -->

    <pre id="sse-out">
{% include 'sse.incl.jinja' %}
    </pre>

    <div id="queue-panel" class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">TASK QUEUE</h5>
      </div>
      <div class="panel-body">
        <table id="queue" data-href="/queue" class="table table-hover">
          <thead>
            <tr><td>User</td><td>Requested</td><td>Task</td><td>Subdomain</td><td>Site</td><td>DB Backup?</td><td>Cancel</td></tr>
          </thead>
          <tbody id="queue-body">
            {% include 'queue.incl.jinja' %}
          </tbody>
        </table>
      </div>
    </div>

    <div id="output-panel" class="panel panel-default">
      <div class="panel-heading preprod-output-heading">
        <h5 class="panel-title">OUTPUT</h5>
      </div>
      <div class="panel-body">
        <pre id="output">{% include 'logstream.incl.jinja' -%}</pre>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="popupViewer" tabindex="-1" role="dialog" aria-labelledby="popupViewerTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popupViewerTitle">...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block scripts %}
  {{ super() }}
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/brb.js') }}"></script>
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/preprod.js') }}"></script>
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/tools.js') }}"></script>
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/prod.js') }}"></script>
  <script charset="utf-8" type="text/javascript" src="{{ url_for('static', filename='js/sse.js') }}"></script>
{% endblock %}

