{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    {% if session['logged_in'] %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" class="hello">Hello, {{ session['username'] }}!</a></li>
            <li><a href="/logout">Logout</a></li></ul>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
      <li class="active">
        <a href="#preprod" data-toggle="tab" class="tab tab-preprod">Pre-Prod</a>
      </li>
      <li>
        <a href="#tools" data-toggle="tab" class="tab tab-tools">Tools</a>
      </li>
      <li>
        <a href="#production" data-toggle="tab" class="tab tab-production">Production</a>
      </li>
    </ul>
    <div id="tab-content-preprod" class="tab-content">
        <!-- tab: pre-prod -->
        <div class="tab-pane active" id="preprod">
            <h1>Pre-Production</h1>
            <p>Manage sites: develop, stage, master</p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Send Tasks to Queue</h3>
              </div>
              <div class="panel-body">
                <form id="deploy-preprod" action="" method="POST">

                  <div class="row">
                    <div class="col-sm-6">

                      <div class="control-group">
                        <div class="controls">
                          <select id="subdomains-preprod" name="subdomains-preprod" class="form-control brb-subdomains">
                            {% set environ = 'pre-prod' %}
                            {% include 'select_subdomains.incl.jinja' %}
                          </select>
                        </div>
                      </div>

                      <div class="control-group">
                        <div class="controls">
                          <select id="sites-preprod" name="sites-preprod" class="form-control brb-sites">
                            {% set environ = 'pre-prod' %}
                            {% include 'select_sites.incl.jinja' %}
                          </select>
                        </div>
                      </div>

                      <div class="control-group">
                        <div class="controls">
                          <select id="tasks-preprod" name="tasks-preprod" class="form-control brb-tasks">
                            {% set environ = 'pre-prod' %}
                            {% include 'select_tasks.incl.jinja' %}
                          </select>
                        </div>
                      </div>

                      <div class="control-group">
                        <div class="controls pull-left">
                          <label class="checkbox">
                            <input id="chk-backup-database-preprod" type="checkbox"
                                   name="backup-database-preprod" />
                            Backup Database Before Push?
                          </label>
                        </div>
                      </div>

                    </div>

                    <div class="col-sm-6">
                      <input id="btn-queue-preprod" type="button" name="button"
                             accept="" value="Queue" class="big-button gradient-green"/>
                      <br />
                      <a href="#" id="clearFormPreProd">Clear Form</a>
                    </div>

                  </div>

                </form>
              </div>
            </div>

        </div>   <!-- tab: pre-prod -->

        <!-- tab: tools -->
        <div class="tab-pane" id="tools">
            <h1>Tools</h1>
            <p>Big Tools to do great things!</p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Tools</h3>
              </div>
              <div class="panel-body">
                <form id="deploy-tools" action="" method="POST">

                  <div class="control-group">
                    <div class="controls">
                      <select id="task-tools" name="task-tools" class="form-control">
                         {#  % set environ = 'stage' % #}
                         {#  % include 'select_tasks.incl.jinja' % #}
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <select id="site-tools" name="site-tools" class="form-control">
                        {# % include 'select_sites.incl.jinja' % #}
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <select id="stage-server" name="stage-server" class="form-control">

                      </select>
                    </div>
                  </div>
                  <input id="big-blue-button" type="button" name="button"
                         accept="" value="PUSH!" class="big-button gradient-blue"/>
                </form>

              </div>
            </div>
        </div> <!-- tab: tools -->
        <!-- tab: production  -->
        <div class="tab-pane" id="production">
            <h1>Production</h1>
            <p>Manage sites: www, forum</p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Immediate TaskItem Execution on Production</h3>
              </div>
              <div class="panel-body">
                <form id="deploy-production" action="" method="POST">

                  <div class="row">
                    <div class="col-sm-6">

                      <div class="control-group">
                        <div class="controls">
                          <select id="sites-prod" name="sites-prod" class="form-control">
                            {% set environ = 'production' %}
                            {% include 'select_sites.incl.jinja' %}
                          </select>
                        </div>
                      </div>

                      <div class="control-group">
                        <div class="controls">
                          <select id="tasks-prod" name="tasks-prod" class="form-control">
                             {% set environ = 'production' %}
                             {% include 'select_tasks.incl.jinja' %}
                          </select>
                        </div>
                      </div>

                      <div class="control-group">
                        <div class="controls pull-left">
                          <label class="checkbox">
                            <input id="chk-backup-database-prod" type="checkbox"
                                   name="backup-database-prod" value="1" checked />
                            Backup Database Before Push?
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">

                      <input id="btn-push-prod" type="button" name="button"
                             accept="" value="PUSH!" class="big-button gradient-red"/>
                      <br />
                      <a href="#" id="clearFormProd">Clear Form</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>  <!-- tab: production -->
    </div> <!-- deployment-tab-content -->

    <pre id="sse-out"> </pre>

    <div id="queue-panel" class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">TaskItem Queue</h3></div>
      <div class="panel-body">
        <table id="queue" class="table">
          <thead>
            <tr><td>User</td><td>Requested</td><td>Subdomain</td><td>Site</td><td>Task</td><td>DB Backup?</td><td>Cancel</td></tr>
          </thead>
          <tbody>
            {% include 'queue.incl.jinja' %}
          </tbody>
        </table>
      </div>
    </div>

    <div id="prod-output-panel" class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Output</h3></div>
      <div class="panel-body">
        <pre id="production-output"> </pre>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/sse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/brb.js') }}"></script>
{% endblock %}
