          <h1>Production</h1>
          <div id="prod-panel" class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">IMMEDIATE TASK EXECUTION</h5>
            </div>
            <div class="panel-body">
              {% if constants['PERMISSION_PRODUCTION'] in session.get('permissions', []) %}
              <form id="deploy-production" action="" method="POST">
                <div class="row">
                  <div class="col-sm-6">

                    <div class="control-group">
                      <div class="controls">
                        <select id="sites-prod" name="sites-prod" class="form-control">
                          {% set environ = 'production' %}
                          {% include 'select_sites.incl.jinja' %}
                        </select>
                      </div>
                    </div>

                    <div class="control-group">
                      <div class="controls">
                        <select id="tasks-prod" name="tasks-prod" class="form-control">
                            {% set environ = 'production' %}
                            {% include 'select_tasks.incl.jinja' %}
                        </select>
                      </div>
                    </div>

                    <div class="control-group">
                      <div class="controls pull-left">
                        <label class="checkbox">
                          <input id="chk-backup-database-prod" type="checkbox"
                                  name="backup-database-prod" value="1" checked />
                          Backup Database Before Push?
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">

                    <input id="btnPushProd" type="button" name="button"
                            accept="" value="PUSH!" class="big-button gradient-red"/>
                    <br />
                    <a href="#" id="clearFormProd">Clear Form</a>
                  </div>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
