{% if queue is defined and queue != None and queue|length > 0 -%}
  {# use bootstrap glyphs -#}
  {# set cancel_glyph = '<span class="glyphicon glyphicon-remove" aria-hidden="false"></span>' -#}
  {# set bkup_glyph = '<span class="glyphicon glyphicon-ok" aria-hidden="false"></span>' -#}
  {% set delete_glyph = '<i class="glyph-delete fas fa-trash"></i>' %}
  {% set bkup_glyph = '<i class="glyph-checkmark fas fa-check"></i>' %}
  {% for taskitem in queue -%}
  {% set bkup_glyph = '<i class="glyph-checkmark fas fa-check"></i>' %}
  {% set taskOptions = taskitem.parseOptions() %}
    <tr>
      <td>{{ taskitem.username }}</td>
      <td>{{ taskitem.timestamp }}</td>
       <td>{{ taskitem.task }}</td>
      <td>{{ taskOptions['subdomain'] }}</td>
      <td>{{ taskOptions['site'] }}</td>
      <td>{{ bkup_glyph if taskOptions['dbbackup'] == True else '&nbsp;' }}</td>
      <td><a href="/queue/cancel/{{ taskitem.id }}" class="cancel delete">{{ delete_glyph }}</a></td>
    </tr>
  {% endfor -%}
{% else -%}
  {# empty queue -#}
  <tr class="empty">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>EMPTY</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
{% endif -%}
