{% if queue is defined and queue != None and queue|length > 0 -%}
  {% set delete_glyph = '<i class="glyph-delete fas fa-trash-alt"></i>' %}
  {% set bkup_glyph = '<i class="glyph-checkmark fas fa-check"></i>' %}
  {% for taskitem in queue -%}
    {% set taskOptions = taskitem.parseOptions() %}
    <tr id="task-{{ taskitem.id }}">
      <td>{{ taskitem.username }}</td>
      <td>{{ taskitem.timestamp }}</td>
       <td>{{ taskitem.task }}</td>
      <td>{{ taskOptions['subdomain'] }}</td>
      <td>{{ taskOptions['site'] }}</td>
      <td>{{ bkup_glyph if taskOptions['dbbackup'] == True else '&nbsp;' }}</td>
      <td><a href="/queue/cancel/{{ taskitem.id }}" class="cancel delete">{{ delete_glyph }}</a></td>
    </tr>
  {% endfor -%}
{% else -%}
  {# empty queue -#}
  <tr id="task-0" class="empty">
    <td colspan="7">EMPTY</td>
  </tr>
{% endif -%}