{% for key in subdomains['list_order'][environ] -%}
  {% set subdomain = subdomains['list'][key] -%}
  <option value="{{ key }}"{% if subdomain['attributes'] is defined %}{{ subdomain['attributes'] }}{% endif %}>{{ subdomain['name'] }}</option>
{% endfor -%}
