{% for code in tasks_order[environ] %}
  {% set task = tasks[code] %}
  <option value="{{ code }}"{% if task['attributes'] is defined %}{{ task['attributes'] }}{% endif %}>{{ task['name'] }}</option>
{% endfor %}
