{% for key in tasks['list_order'][environ] -%}
  {% set task = tasks['list'][key] -%}
  <option value="{{ key }}"{% if task['attributes'] is defined %}{{ task['attributes'] }}{% endif %}>{{ task['name'] }}</option>
{% endfor -%}
