{% for key in sites['list_order'][environ] -%}
  {% set site = sites['list'][key] -%}
  <option value="{{ key }}"{% if site['attributes'] is defined %}{{ site['attributes'] }}{% endif %}>{{ site['name'] }}</option>
{% endfor -%}
