[Unit]
Description = BigRedButton
After = network.target

[Service]
Restart=on-failure
PIDFile = {{ pid_file }}
User = {{ user }}
Group = {{ group }}
WorkingDirectory = {{ app_path }}
RuntimeDirectory = gunicorn
Environment = "{{ environment }}"
ExecStartPre = /bin/mkdir -p {{ pid_dir }}
ExecStartPre = /bin/mkdir -p {{ log_dir }}
ExecStartPre = /bin/chown -R {{ user }}:{{ group }} {{ pid_dir }}
ExecStartPre = /bin/chmod -R 775 {{ pid_dir }}
ExecStartPre = /bin/chown -R {{ user }}:{{ group }} {{ log_dir }}
ExecStartPre = /bin/chmod -R 775 {{ log_dir }}
ExecStart = /usr/local/bin/gunicorn --daemon --name={{ app_name }} --bind={{ bind }} --pid {{ pid_file }} --user={{ user }} --workers={{ workers }} --worker-class={{ worker_class }} --log-file={{ log_file }} run:app
ExecReload = /bin/kill -HUP $MAINPID
PrivateTmp = true
KillSignal=SIGINT

[Install]
WantedBy = multi-user.target