export VIRTUAL_ENV={{ virtualenv }}

bigredbutton_activate() {
    source {{ virtualenv }}/bin/activate #"$@"
}
export -f bigredbutton_activate

export bigredbutton_site_dir="{{ bigredbutton_site_dir }}"


alias bulk_load='{{ scripts_dir }}/brb_bulk_load.py'
alias site_sync='{{ scripts_dir }}/brb_site_sync.py'
alias site_deploy='{{ scripts_dir }}/brb_site_deploy.py'
alias site_cache_clear='{{ scripts_dir }}/brb_site_cache_clear.py'
alias varnish_clear='{{ scripts_dir }}/brb_varnish_clear.py'
alias site_rollback='{{ scripts_dir }}/brb_site_rollback.py'
alias merge_repos='{{ scripts_dir }}/brb_merge_repos.py'
alias version_update='{{ scripts_dir }}/brb_version_update.py'